<div class="row">
    <h1>
        All Users
    </h1>
    <% if user_signed_in? %>
        <p>
            <%= link_to 'New User', new_user_path, class: "btn btn-success" %>
        </p>
        <ul>
            <% @users.each do |user| %>
                <li class="snippet-view">
                    <%= link_to user.email, user_path(user) %>
                    <br/>
                    <ul>
                        <% user.products.each do |product| %>
                            <li>
                                <%= link_to product.name, product_path(product) %>
                            </li>
                        <% end %>
                    </ul>
                    <%= link_to 'Edit User', edit_user_path(user), class: "btn btn-primary" %>
                    <%= link_to 'Delete User', user_path(user), method: 'DELETE', class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?" } %>
                </li>
            <% end %>
        </ul>
    <% end %>
</div>