<div class="row">
    <h1>
        All Users
    </h1>
    <% if user_signed_in? and current_user.moderator? %>
        <p>
            <%= link_to 'New User', new_user_path, class: "btn btn-success" %>
        </p>
    <% end %>
    <ul>
        <% @users.each do |user| %>
            <li class="snippet-view">
                <p>
                    <strong>Username: </strong><%= link_to user.username, user_path(user) %>
                </p>
                <p>
                    <strong>Email: </strong><%= user.email %>
                </p>
                <p>
                    <strong>User's Products: </strong>
                </p>
                <ul>
                    <% user.products.each do |product| %>
                        <li>
                            <%= link_to product.name, product_path(product) %>
                        </li>
                    <% end %>
                </ul>
                <% if user_signed_in? and current_user.moderator? %>
                    <%= link_to 'Edit User', edit_user_path(user), class: "btn btn-primary" %>
                    <%= link_to 'Delete User', user_path(user), method: 'DELETE', class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?" } %>
                <% end %>
            </li>
            <hr/>
        <% end %>
    </ul>
</div>