<div class="row">
    <h1>
        All Click Trackers:
    </h1>
    <p>
        <%= link_to 'New Click Tracker', new_click_tracker_path, class: "btn btn-success" %>
    </p>
    <ul>
        <% @click_trackers.each do |ct| %>
            <li class="snippet-view">
                <strong>Link Name: </strong><%= ct.name %>
                <br/>
                <strong>Link Slug: </strong><%= ct.slug %>
                <br/>
                <strong>Link URL: </strong><%= ct.url %>
                <br/>
                <%= link_to click_tracker_path(ct), click_tracker_path(ct) %>
                <br/>
                <%= link_to 'Edit Click Tracker', edit_click_tracker_path(ct), class: "btn btn-primary" %>
                <%= link_to 'Delete Click Tracker', click_tracker_path(ct), method: 'DELETE', class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?" } %>
            </li>
            <hr/>
        <% end %>
    </ul>
</div>