<% content_for :head do %>
    <style type="text/css" media="screen">
	#editor {
		border: 1px solid lightgray;
		margin: auto;
		height: 600px;
		width: 100%;
	}
	#editorHead {
		border: 1px solid lightgray;
		margin: auto;
		height: 100px;
		width: 100%;
	}
	#editorBodyClose {
		border: 1px solid lightgray;
		margin: auto;
		height: 100px;
		width: 100%;
	}
	.scrollmargin {
		height: 80px;
        text-align: center;
	}
    </style>
<% end %>

<div class="row">
    <div class="col-md-3">
        <h1>
            <%= title %>
        </h1>
        <% if !@post.new_record? %>
            <p>
                <%= link_to "View Post", post_path(@post) %>
            </p>
        <% end %>
        <%= render 'shared/errors', obj: @post %>
        <div>
            <%= form_for @post do |f| %>
                <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :slug %>
                    <%= f.text_field :slug, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.text_area :body, style: "display: none;" %>
                </div>
                <div class="form-group">
                    <%= f.text_area :head, style: "display: none;" %>
                </div>
                <div class="form-group">
                    <%= f.text_area :body_close, style: "display: none;" %>
                </div>
                <div class="form-group">
                    <%= f.submit((@post.new_record? ? 'Create Post' : 'Update Post'), class: "btn btn-success") %>
                </div>
            <% end %>
        </div>
        <hr />
        <% if !@post.new_record? %>
            <p>
                <%= link_to 'Delete Post', post_path(@post), method: 'DELETE', class: "btn btn-danger" %>
            </p>
        <% end %>
        <hr />
        <h4>
            User Snippets:
        </h4>
        <ul>
            <% @snippets.each do |snip| %>
                <li>
                    <%= snip.code %>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="col-md-9">
        <h3>
            Head tag
        </h3>
        <div id="editorHead"><%= @post.head %></div>
        <h3>
            Body close tag
        </h3>
        <div id="editorBodyClose"><%= @post.body_close %></div>
        <h3>
            body
        </h3>
        <div id="editor"><%= @post.body %></div>
    </div>
</div>

<% content_for :body_close do %>
    <script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/cobalt");
        editor.getSession().setMode("ace/mode/html");
        
        var textarea = $('textarea[name="post[body]"]');
        editor.getSession().on("change", function () {
            textarea.val(editor.getSession().getValue());
        });
        
        
        var editorHead = ace.edit("editorHead");
        editorHead.setTheme("ace/theme/cobalt");
        editorHead.getSession().setMode("ace/mode/html");
        
        var textareaHead = $('textarea[name="post[head]"]');
        editorHead.getSession().on("change", function () {
            textareaHead.val(editorHead.getSession().getValue());
        });
        
        
        var editorBodyClose = ace.edit("editorBodyClose");
        editorBodyClose.setTheme("ace/theme/cobalt");
        editorBodyClose.getSession().setMode("ace/mode/html");
        
        var textareaBodyClose = $('textarea[name="post[body_close]"]');
        editorBodyClose.getSession().on("change", function () {
            textareaBodyClose.val(editorBodyClose.getSession().getValue());
        });
        
        $(document).on('keydown', function(e){
            if(e.ctrlKey && e.which === 83){ // Check for the Ctrl key being pressed, and if the key = [S] (83)
                console.log('Ctrl+S!');
                $("form input[name=commit]").click();
                e.preventDefault();
                return false;
            }
        });
    </script>
<% end %>