<% content_for :head do %>
    <style type="text/css" media="screen">
	.ace_editor {
		border: 1px solid lightgray;
		margin: auto;
		margin-top: 10px;
		height: 850px;
		width: 100%;
	}
	.scrollmargin {
		height: 80px;
        text-align: center;
	}
    </style>
<% end %>

<div class="row">
    <div class="col-md-3">
        <h1>
            <%= title %>
        </h1>
        <%= render 'shared/errors', obj: @post %>
        <div>
            <%= form_for @post do |f| %>
                <div class="form-group">
                    <%= f.label :title %>
                    <%= f.text_field :title, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :slug %>
                    <%= f.text_field :slug, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.text_area :body, style: "display: none;" %>
                </div>
                <div class="form-group">
                    <%= f.submit((@post.new_record? ? 'Create Post' : 'Update Post'), class: "btn btn-success") %>
                </div>
            <% end %>
        </div>
        <hr />
        <p>
            <% if !@post.new_record? %>
                <%= link_to 'Delete Post', post_path(@post), method: 'DELETE', class: "btn btn-danger" %>
            <% end %>
        </p>
    </div>
    <div class="col-md-9">
        <div id="editor"><%= @post.body %></div>
    </div>
</div>

<% content_for :body_close do %>
    <script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/cobalt");
        editor.getSession().setMode("ace/mode/html");

        var textarea = $('textarea[name="post[body]"]');
        editor.getSession().on("change", function () {
            textarea.val(editor.getSession().getValue());
        });
        
        $(document).on('keydown', function(e){
            if(e.ctrlKey && e.which === 83){ // Check for the Ctrl key being pressed, and if the key = [S] (83)
                console.log('Ctrl+S!');
                $("form input[name=commit]").click();
                e.preventDefault();
                return false;
            }
        });
    </script>
<% end %>