<div class="row">
    <h1>
        All posts:
    </h1>
    <% if user_signed_in? and current_user.moderator? %>
        <p>
            <%= link_to 'New Post', new_post_path, class: "btn btn-success" %>
        </p>
    <% end %>
    <% @posts.each do |post| %>
        <% if post.published? || (user_signed_in? and current_user.moderator?)  %>
            <h2>
                <%= link_to post.title, post_path(post) %> 
                <%= ((user_signed_in? and current_user.moderator?) and !post.published?) ? " - NOT PUBLISHED" : " " %>
            </h2>
            <div>
                <%= Liquid::Template.parse(post.body).render( 
                                                            'params' => params, 
                                                            'snippet' => @snip_hash,
                                                            'posts' => @posts_collection
                                                            ).html_safe %>
            </div>
            
            <% if user_signed_in? and current_user.moderator? %>
                <p>
                    <%= link_to 'Edit Post', edit_post_path(post), class: "btn btn-primary" %>
                    <%= link_to 'Delete Post',
                                post_path(post),
                                method: 'DELETE',
                                class: "btn btn-danger",
                                data: { confirm: "Are you sure you want to delete this?" } %>
                </p>
            <% end %>
            <hr />
        <% end %>
    <% end %>
</div>
