<div class="row">
    <h1>
        New Image
    </h1>
    <%= render 'shared/errors', obj: @image %>
    <%= form_for @image do |f| %>
        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        <div class="form-group">
            <%= f.label :slug %>
            <%= f.text_field :slug %>
        </div>
        <div class="form-group">
            <%= link_to image_path(@image) do %>
                <%= image_tag image_path(@image) %>
            <% end %>
        </div>
        <div class="form-group">
            <%= f.submit("Update Image", class: "btn btn-success") %>
        </div>
        <div>
            <%= link_to 'Delete Image', image_path(@image), method: 'DELETE', class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this?" } %>
        </div>
    <% end %>
</div>